node_modules
docs
logs
src
test
.coveralls.yml
**/*.map
tsconfig.json
tmp.json.zip
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
gulpfile.js
coveralls.yml
gen2
**/*.map
*.bak
gen_cov
js_cov
info.lcov
logs
